/*---------------------Generic Styles-------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/*---------------------Main Styles-------------------------*/
#scene-container {
    width: 100vw;
    height: 100vh;
}

#overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 90%;
    top: 10%;
    left: 6%;
}

button {
    padding: 1.5rem;
    margin-right: 2rem;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 2rem;
}

#main-heading {
    padding: 0 2rem;
    color: white;
    font-size: 4rem;
    margin-left: -2rem;
}