/*---------------------Generic Styles-------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/*---------------------Main Styles-------------------------*/
#scene-container {
    width: 100vw;
    height: 100vh;
}

#overlay {
    position: absolute;
    display: flex;
    top: 10%;
    right: 50%;
    left: 50%;
}

button {
    padding: 1.5rem;
    margin-right: 2rem;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 2rem;
}